* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app_wrapper {
  border: 1px solid black;
  height: 400px;
  width: 600px;
  margin: 0 auto;
  background-color: #f8f9fa;
}

.header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #111;
  color: #eee;
  font-weight: 600;
}

.form {
  padding: 50px 20px;
}

.form>div {
  width: 400px;
  margin: 10px auto;
}

.form .form_element input,
.form .form_element button,
.link_result {
  width: 100%;
  padding: 10px;
  background: none;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  height: auto;
  padding: 16px 10px;
}

.form .form_element button {
  background-color: #111;
  color: #eee;
  outline: none;
  border: none;
  cursor: pointer;
}

.link_result {
  width: 400px;
  display: inline-block;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.shorted_link_text {
  color: gray;
}

.copy_button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.list {
  width: 800px;
  margin: 40px auto;
}

.list h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.list table {
  width: 100%;
  text-align: center;
}

.list table thead tr {
  background-color: #555;
  color: #eee;
}

.list table thead tr th,
.list table tbody tr td {
  padding: 5px;
}

.list table tbody tr:nth-child(odd) {
  background-color: #eee;
}

.clear_button {
  background-color: #111;
  color: #eee;
  outline: none;
  border: none;
  cursor: pointer;
  width: 100px;
  padding: 5px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  height: auto;
}